.testing::before{
    background-image: linear-gradient(rgba(255, 250, 155, 0.7), rgba(255,255,255, 0.5)), url("../NeonImage.jpeg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    opacity: 0.8;
}

.Neon-wrap {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url("../NeonImage.jpeg");
    background-size: cover;
}

ul {
    list-style-type: none;
    width: 750px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 8px;
    background-color: Lime;
}

.Neon-wrap {
    position: relative;
}
.centered {
    text-align: center;
}

#Semantic{
}
div#top-nav {
    margin: 0 auto;
}

#CSSPractice{
}

#FormPractice{
}

.Neon-content {
    text-align: center;
    position: relative;
}

h1{
    color: greenyellow;
}

h2{
    color: aqua;
}

iframe {
    color: gold;
}

#MyExperience {
}
body{
    background-color: royalblue;
}

#MyExperience h1{
    color: yellow;
}

#MyExperience p{
    color: greenyellow;
}

#PastAssignments html, body {
    width: 100%;
    height: 100%;
    background-color: skyblue
}

#PastAssignments h1{
    color: orange;
}

#PastAssignments h2{
    color: yellow;
}

#CSS_Explained {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.CSS_Explained td,.CSS_Explained th {
    border: 1px solid #ddd;
    padding: 11px;
}

#CSS{font-size: 60px}

.CSS_Explained th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: Black;
    color: white;
}


h2 {
    color: darkorange;
}

h4 {
    font-size: 50px;

}

#My_Interests {
}
.My_Interests {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


.My_Interests td,.My_Interests th {
    border: 1px solid #ddd;
    padding: 11px;
}

.My_Interests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: Black;
    color: white;
}

body{
    background-color: dodgerblue;
}

h1{
    color: greenyellow;
}





